HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
frontend/public/recordings/stream_20250603_1625.mp4
frontend/public/recordings/stream_20250603_1626.mp4
frontend/public/recordings/stream_20250603_1627.mp4
frontend/public/recordings/stream_20250603_1628.mp4
frontend/public/recordings/stream_20250603_1629.mp4
frontend/public/recordings/stream_20250603_1630.mp4
frontend/public/recordings/stream_20250603_1631.mp4
frontend/public/recordings/stream_20250603_1632.mp4
frontend/public/recordings/stream_20250603_1633.mp4
frontend/public/recordings/stream_20250603_1634.mp4
frontend/public/recordings/stream_20250603_1635.mp4
frontend/public/recordings/stream_20250603_1636.mp4
frontend/public/recordings/stream_20250603_1653.mp4
frontend/public/recordings/stream_20250603_1654.mp4
frontend/public/recordings/stream_20250603_1655.mp4
frontend/public/recordings/stream_20250603_1656.mp4
frontend/public/recordings/stream_20250603_1657.mp4
frontend/public/recordings/stream_20250603_1658.mp4
frontend/public/recordings/stream_20250603_1659.mp4
frontend/public/recordings/stream_20250603_1700.mp4
frontend/public/recordings/stream_20250603_1701.mp4
frontend/public/recordings/stream_20250603_1702.mp4
frontend/public/recordings/stream_20250603_1703.mp4
frontend/public/recordings/stream_20250603_1714.mp4
frontend/public/recordings/stream_20250603_1715.mp4
frontend/public/recordings/stream_20250603_1716.mp4
frontend/public/recordings/stream_20250603_1717.mp4
frontend/public/recordings/stream_20250603_1718.mp4
frontend/public/recordings/stream_20250603_1719.mp4
frontend/public/recordings/stream_20250603_1720.mp4
frontend/public/recordings/stream_20250603_1721.mp4
frontend/public/recordings/stream_20250603_1722.mp4
frontend/public/recordings/stream_20250603_1723.mp4
frontend/public/recordings/stream_20250603_1724.mp4
frontend/public/recordings/stream_20250603_1725.mp4
frontend/public/recordings/stream_20250603_1729.mp4
frontend/public/recordings/stream_20250603_1730.mp4
frontend/public/recordings/stream_20250603_1731.mp4
frontend/public/recordings/stream_20250603_1732.mp4
frontend/public/recordings/stream_20250603_1733.mp4
frontend/public/recordings/stream_20250603_1734.mp4
frontend/public/recordings/stream_20250603_1735.mp4
frontend/public/recordings/stream_20250603_1736.mp4
frontend/public/recordings/stream_20250603_1737.mp4
frontend/public/recordings/stream_20250603_1738.mp4
frontend/public/recordings/stream_20250603_1739.mp4
frontend/public/recordings/stream_20250603_1740.mp4
frontend/public/recordings/stream_20250603_1741.mp4
frontend/public/recordings/stream_20250603_1742.mp4
frontend/public/recordings/stream_20250603_1743.mp4
